:root {
  --colorPrimaryLighter: #e7ecfc; 
  --colorPrimaryLight: #d7defa; 
  --colorPrimary: #375de7; 
  --colorFocusPrimary: #375de733; 
  --colorPrimaryDark: #2c4ab8; 
  --colorPrimaryDarker: #21388b; 
  --colorAccentLighter: #fff1e8; 
  --colorAccentLight: #fbdfcc; 
  --colorAccent: #ed6200; 
  --colorFocusAccent: #ed620033; 
  --colorAccentDark: #d55800; 
  --colorAccentDarker: #a64500; 
  --colorNegativeLighter: #ffd2d8; 
  --colorNegativeLight: #f6bcc3; 
  --colorNegative: #d0021b; 
  --colorFocusNegative: #d0021b33; 
  --colorNegativeDark: #b50016; 
  --colorNegativeDarker: #960012; 
  --colorWarningLighter: #fdf4d0; 
  --colorWarningLight: #fff0b3; 
  --colorWarning100: #ffe380; 
  --colorWarning: #ffc400; 
  --colorFocusWarning: #ffc40033; 
  --colorWarning300: #ffab00; 
  --colorWarningDark: #ff991f; 
  --colorPositiveLighter: #d7f9e7; 
  --colorPositiveLight: #aceccb; 
  --colorPositive: #22a861; 
  --colorFocusPositive: #22a86133; 
  --colorPositiveDark: #019044; 
  --colorPositiveDarker: #017a3a; 
  --colorInformationLighter: #e7ecfc; 
  --colorInformationLight: #d7defa; 
  --colorInformation: #375de7; 
  --colorFocusInformation: #375de733; 
  --colorInformationDark: #2c4ab8; 
  --colorInformationDarker: #21388b; 
  --fontFamily: Roboto,'Helvetica Neue',Helvetica,Arial,sans-serif; 
  --fontRegular: 400; 
  --fontMedium: 500; 
  --fontBold: 700; 
  --radiusSmall: 2px; 
  --radiusMedium: 4px; 
  --radiusLarge: 8px; 
  --radiusExtraLarge: 16px;
}